body {
    margin: 0;
    width: 100%;
    height: 100%;
}
.title_bar {
    -webkit-app-region: drag;
    margin: 0;
    display: flex;
    background-color: black;
    width: 100%;
    height: 30px;
    z-index: 1000;
}
.name_app {
    position: relative;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.name_app p {
    color: white;
    font-size: 17px;
    letter-spacing: 0.1em;
    margin: 0 auto;
}
.windows_control_container {
    position: relative;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    right: 0;
    top: 0;
    flex-grow: 1;
    /* float: left; */

}
.windows_control_container button {
    -webkit-app-region: no-drag;
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;


}
.windows_control_container minimize-button {

}
.windows_control_container minmax-button {

}
.windows_control_container close-button {

}
